### Loading data and data Expolation ###

In [23]:
import pandas as pd ## importing panda for dataset related oparation 
import numpy as np ## import numpy for mathematical operation

df = pd.read_csv("Walmart.csv",encoding_errors='ignore') ## seting data to df varible
print(df.head(10)) ## seeing data to 10 results of dataset

   invoice_id   Branch         City                category unit_price  \
0           1  WALM003  San Antonio       Health and beauty     $74.69
1           2  WALM048    Harlingen  Electronic accessories     $15.28
2           3  WALM067  Haltom City      Home and lifestyle     $46.33
3           4  WALM064      Bedford       Health and beauty     $58.22
4           5  WALM013       Irving       Sports and travel     $86.31
5           6  WALM026       Denton  Electronic accessories     $85.39
6           7  WALM088     Cleburne  Electronic accessories     $68.84
7           8  WALM100       Canyon      Home and lifestyle     $73.56
8           9  WALM066    Grapevine       Health and beauty     $36.26
9          10  WALM065   Texas City      Food and beverages     $54.84

   quantity      date      time payment_method  rating  profit_margin
0       7.0  05/01/19  13:08:00        Ewallet     9.1           0.48
1       5.0  08/03/19  10:29:00           Cash     9.6           0.48
2       7.0  03/03/19  13:23:00    Credit card     7.4           0.33
3       8.0  27/01/19  20:33:00        Ewallet     8.4           0.33
4       7.0  08/02/19  10:37:00        Ewallet     5.3           0.48
5       7.0  25/03/19  18:30:00        Ewallet     4.1           0.48
6       6.0  25/02/19  14:36:00        Ewallet     5.8           0.33
7      10.0  24/02/19  11:38:00        Ewallet     8.0           0.18
8       2.0  10/01/19  17:15:00    Credit card     7.2           0.33
9       3.0  20/02/19  13:27:00    Credit card     5.9           0.33

In [24]:
## checking shape of dataset
print(df.shape)

(10051, 11)

In [25]:
## checking for missiing values 
df.describe() ##here in quantity columnb is less than shape value means their is missing value

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [26]:
df.info() ## checking carector of columnbs (here unite-price is in object not float)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [27]:
df.isnull().sum() ## find numbers of missing values in the columnbs (unite_price and quantity)

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [28]:
## Here we have missing value present in Unit_price and Quantity columnbs 
# both of those are very importent but we can not replace it with some other value ,if i do replace with other value it may hamper our dataset
# instade of this i'm just remove those empy record 
df.dropna(inplace=True)

In [29]:
df.shape

(10020, 11)

In [30]:
df.isnull().sum() ## now we remove the null or missing values

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [31]:
# now find remove dublicate records in the dataset
df.duplicated().sum()

np.int64(51)

In [32]:
#now remove dublicates
df.drop_duplicates(inplace= True)

In [33]:
df.duplicated().sum() #check ing for dublicates

np.int64(0)

In [34]:
df.shape

(9969, 11)

In [35]:
df.dtypes # to chek out columnb charecter like unite price in string not in float

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

In [36]:
df["unit_price"].astype(float)

ValueError: could not convert string to float: '$74.69'

In [37]:
# it gives error becasuce of doller sings in amout colunmb

In [38]:
#So first remove dollar sings 

df['unit_price']=df['unit_price'].str.replace('$','').astype(float)

df.head(5)

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [39]:
df.info() # unit price's datatype is now perfect

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   Branch          9969 non-null   object
 2   City            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   object
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 934.6+ KB

In [40]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [41]:
# now I whant to create new colunmbs of total revenue


df['Total_revenue'] = df['unit_price'] * df['quantity']
df.head(5)

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,Total_revenue
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [42]:
df.to_csv('Walmart_clean.csv',index= False)